@charset "UTF-8";
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 600;
}
.font-style-button {
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
}
body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: Roboto, 'Hiragino Sans GB', "Helvetica Neue", Helvetica, Arial, Tahoma, "Microsoft YaHei", SimSun, sans-serif;
}
.md-message {
  position: fixed;
  z-index: 3000;
  height: 32px;
  line-height: 32px;
  padding: 0 32px;
  background: #ffffff;
  margin: 0 auto;
}
.md-message .md-message-content {
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 13px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
