@charset "UTF-8";
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 600;
}
.font-style-button {
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
}
body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: Roboto, 'Hiragino Sans GB', "Helvetica Neue", Helvetica, Arial, Tahoma, "Microsoft YaHei", SimSun, sans-serif;
}
.md-disk {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.md-disk.full .md-disk-top-bg {
  display: none;
}
.md-disk.full .md-disk-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.md-disk .md-disk-top-bg {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 84px;
  background-color: #2196f3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.md-disk .md-disk-container {
  position: absolute;
  z-index: 1001;
  top: 28px;
  bottom: 0;
  left: 72px;
  right: 72px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  overflow: hidden;
}
.md-disk .md-disk-container.obj .md-disk-body .md-disk-grid {
  display: none;
}
.md-disk .md-disk-container.obj .md-disk-body .md-disk-data {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.md-disk .md-disk-container.obj .md-disk-header .disk-menu-display,
.md-disk .md-disk-container.obj .md-disk-header .disk-menu-sortby {
  display: none;
}
.md-disk .md-disk-container.info .md-disk-info {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.md-disk .md-disk-container.info .md-disk-body {
  right: 367px;
}
.md-disk .md-disk-container .md-disk-info {
  display: block;
  position: absolute;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transform: translate3d(367px, 0, 0);
  -moz-transform: translate3d(367px, 0, 0);
  -ms-transform: translate3d(367px, 0, 0);
  -o-transform: translate3d(367px, 0, 0);
  transform: translate3d(367px, 0, 0);
  width: 367px;
  top: 56px;
  bottom: 0;
  right: 0;
  background-color: #fafafa;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 16px;
  overflow: hidden;
}
.md-disk .md-disk-container .md-disk-info .title {
  height: 72px;
  padding: 20px 0 20px 48px;
  position: relative;
}
.md-disk .md-disk-container .md-disk-info .title img {
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 20px;
  left: 8px;
}
.md-disk .md-disk-container .md-disk-info .title span {
  line-height: 32px;
  height: 32px;
  display: block;
  width: 100%;
  font-size: 22.75px;
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.md-disk .md-disk-container .md-disk-info .tabs {
  width: 100%;
  height: 48px;
  list-style: none;
}
.md-disk .md-disk-container .md-disk-info .tabs li {
  display: block;
  float: left;
  height: 100%;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.md-disk .md-disk-container .md-disk-info .tabs li > div {
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 48px;
}
.md-disk .md-disk-container .md-disk-info .tabs li:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  height: 4px;
  right: 0px;
  left: 0px;
}
.md-disk .md-disk-container .md-disk-info .tabs li:hover {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
}
.md-disk .md-disk-container .md-disk-info .tabs li:hover:before {
  background-color: rgba(0, 0, 0, 0.26);
}
.md-disk .md-disk-container .md-disk-info .tabs li.active {
  border-top: 1px solid #1976d2;
}
.md-disk .md-disk-container .md-disk-info .tabs li.active:before {
  background-color: #1976d2;
}
.md-disk .md-disk-container .md-disk-info .tab-containers {
  width: calc(100% + 16px);
  height: calc(100% - 120px);
  padding-right: 16px;
  overflow-y: auto;
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc {
  width: 100%;
  display: none;
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc.active {
  display: block;
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc .divider {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  background-color: rgba(0, 0, 0, 0.12);
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc.detail .obj-preview {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  line-height: 150px;
  text-align: center;
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc.detail .obj-attrs {
  width: 100%;
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc.detail .obj-attrs .obj-attr-row {
  width: 100%;
  height: 32px;
  padding: 4px 0;
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc.detail .obj-attrs .key {
  width: 100px;
  line-height: 24px;
  height: 24px;
  float: left;
}
.md-disk .md-disk-container .md-disk-info .tab-containers .tc.detail .obj-attrs .val {
  width: calc(100% - 100px);
  float: left;
  line-height: 24px;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.md-disk .md-disk-container .disk-icon {
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.md-disk .md-disk-container .md-disk-header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  height: 56px;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.md-disk .md-disk-container .md-disk-header .disk-path {
  float: left;
  width: calc(100% - 144px);
  height: 100%;
  overflow: hidden;
}
.md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj {
  display: inline-block;
  float: left;
  position: relative;
  min-width: 60px;
  max-width: 160px;
  margin-right: 24px;
}
.md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj .disk-icon {
  margin: 16px 8px 16px 0px;
}
.md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj:after {
  right: -24px;
  top: 12px;
  width: 24px;
  text-align: center;
  display: inline-block;
  font: normal normal normal 14px/1 'Material Design Iconic Font';
  font-size: 24px;
  font-weight: 100;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: rgba(0, 0, 0, 0.54);
  content: '\f2c2';
}
.md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj .disk-path-nm {
  display: inline-block;
  float: left;
  height: 48px;
  line-height: 48px;
  min-width: 36px;
  max-width: 120px;
  font-size: 16.25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj .disk-path-nm:hover {
  cursor: pointer;
  text-decoration: underline;
}
.md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj:last-child {
  margin-right: 0px;
}
.md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj:last-child:after {
  display: none;
}
.md-disk .md-disk-container .md-disk-header .disk-menu {
  float: right;
  height: 100%;
  display: inline-block;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item {
  float: left;
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item .md-menu {
  display: none;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.12);
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item:hover .md-icon {
  color: rgba(0, 0, 0, 0.87);
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item:hover .md-menu {
  display: block;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item .md-icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 0.54);
  -webkit-transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item.disk-menu-display i:first-child {
  display: none;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item.disk-menu-display i:last-child {
  display: block;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item.disk-menu-display.grid i:first-child {
  display: block;
}
.md-disk .md-disk-container .md-disk-header .disk-menu-item.disk-menu-display.grid i:last-child {
  display: none;
}
.md-disk .md-disk-container .md-disk-body {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}
.md-disk .md-disk-container .md-disk-body .md-disk-tip {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
.md-disk .md-disk-container .md-disk-body .md-disk-tip ._tip {
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  font-size: 22.75px;
  color: rgba(0, 0, 0, 0.26);
  text-align: center;
  margin: 150px auto;
  display: none;
}
.md-disk .md-disk-container .md-disk-body .md-disk-tip .loading {
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  font-size: 22.75px;
  color: rgba(0, 0, 0, 0.26);
  text-align: center;
  margin: 150px auto;
  display: none;
}
.md-disk .md-disk-container .md-disk-body .md-disk-tip .empty {
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  font-size: 22.75px;
  color: rgba(0, 0, 0, 0.26);
  text-align: center;
  margin: 150px auto;
  display: none;
}
.md-disk .md-disk-container .md-disk-body.loading .md-disk-tip {
  display: block;
}
.md-disk .md-disk-container .md-disk-body.loading .md-disk-tip .loading {
  display: block;
}
.md-disk .md-disk-container .md-disk-body.empty .md-disk-tip {
  display: block;
}
.md-disk .md-disk-container .md-disk-body.empty .md-disk-tip .empty {
  display: block;
}
.md-disk .md-disk-container .md-disk-body ._md-disk-cell {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 12px 0;
  padding: 0 16px;
  font-size: 16.25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title {
  position: absolute;
  top: 0;
  height: 48px;
  left: 0;
  right: -20px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 12px 0;
  padding: 0 16px;
  font-size: 16.25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54);
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell[sort] {
  cursor: pointer;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell .md-disk-sort-asc {
  float: left;
  display: none;
  font-size: 22.75px;
  color: rgba(0, 0, 0, 0.54);
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell .md-disk-sort-asc:before {
  content: '\f2bf';
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell .md-disk-sort-desc {
  float: left;
  display: none;
  font-size: 22.75px;
  color: rgba(0, 0, 0, 0.54);
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell .md-disk-sort-desc:before {
  content: '\f2be';
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell.asc .md-disk-sort-asc {
  display: block;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell.desc .md-disk-sort-desc {
  display: block;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: -20px;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.12);
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item:hover .gi-nm {
  text-decoration: underline;
  cursor: pointer;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item.active {
  background-color: #2196f3;
  color: #ffffff;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item.active:hover {
  background-color: #2196f3;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-disk-gi-preview {
  background-size: cover;
  display: none;
  background-color: #ffffff;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"] {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 12px 0;
  padding: 0 16px;
  font-size: 16.25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
}
.md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"] .disk-icon {
  margin: 4px 8px 4px 0px;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-title {
  display: none;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body {
  top: 0;
  padding: 0 24px;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item {
  width: 160px;
  height: 200px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 6px rgba(0, 0, 0, 0.12);
  -webkit-transition: box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  margin: 24px 12px;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #ffffff;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item.active {
  border: 1px solid #2196f3;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item.active:before {
  display: none;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item.active .md-gi-group > .gi-nm {
  color: #ffffff;
  background-color: #2196f3;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-disk-gi-preview {
  display: block;
  border: 0;
  width: 160px;
  height: 160px;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"] {
  display: none;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > .gi-nm {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px;
  margin: 0;
  height: 40px;
  width: 100%;
  background: #ffffff;
}
.md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > .gi-nm .disk-icon {
  margin: 2px 8px 0 0;
}
.md-disk .md-disk-container .md-disk-body .md-disk-data {
  display: none;
}
@media screen and (max-width: 900px) {
  .md-disk .md-disk-top-bg {
    display: none;
  }
  .md-disk .md-disk-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: none;
  }
  .md-disk .md-disk-container .md-disk-info {
    display: none;
  }
  .md-disk .md-disk-container.info .md-disk-body {
    right: 0;
  }
  .md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell {
    display: none;
  }
  .md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell:first-child {
    width: 60%;
    display: block;
  }
  .md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-title .md-disk-gt-cell:last-child {
    width: 40%;
    display: block;
  }
  .md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body {
    right: -10px;
    padding: 0px;
  }
  .md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"] {
    display: none;
  }
  .md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"]:first-child {
    width: 60%;
    display: block;
  }
  .md-disk .md-disk-container .md-disk-body .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"]:last-child {
    width: 40%;
    display: block;
  }
  .md-disk .md-disk-container .md-disk-body.grid .md-disk-header {
    background: rgba(0, 0, 0, 0.05);
  }
  .md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body {
    right: -10px;
    padding: 0px;
  }
  .md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item {
    width: calc(50% - 16px);
    margin: 16px 8px;
  }
  .md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-disk-gi-preview {
    width: 100%;
  }
  .md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"] {
    display: none;
  }
  .md-disk .md-disk-container .md-disk-body.grid .md-disk-grid .md-disk-grid-body .md-disk-grid-item .md-gi-group > [class^="gi-"]:first-child {
    width: 100%;
    display: block;
  }
  .md-disk .md-disk-container .md-disk-header {
    padding: 4px 8px;
  }
  .md-disk .md-disk-container .md-disk-header .disk-path {
    padding-left: 48px;
    width: calc(100% - 48px);
  }
  .md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj {
    display: none;
    margin-right: 0;
  }
  .md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj:after {
    display: none;
  }
  .md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj:last-child {
    display: block;
    position: relative;
  }
  .md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj:last-child:before {
    left: -36px;
    top: 12px;
    width: 24px;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: 24px;
    font-weight: 100;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: rgba(0, 0, 0, 0.54);
    content: '\f2b5';
  }
  .md-disk .md-disk-container .md-disk-header .disk-path .disk-path-obj:first-child:before {
    left: -36px;
    top: 12px;
    width: 24px;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: 24px;
    font-weight: 100;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: rgba(0, 0, 0, 0.54);
    content: '';
  }
  .md-disk .md-disk-container .md-disk-header .disk-menu {
    width: 48px;
  }
  .md-disk .md-disk-container .md-disk-header .disk-menu .disk-menu-item {
    display: none;
  }
  .md-disk .md-disk-container .md-disk-header .disk-menu .disk-menu-item:first-child {
    display: block;
  }
  .md-disk .md-disk-container.obj .md-disk-header .disk-menu .disk-menu-item {
    display: none;
  }
}
